body {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
}

* {
  box-sizing: border-box;
}

.header {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #131313;
  color: #FFF;
  padding: 30px 10px;
  h1 {
    margin: 20px 0 0 0;
    font-size: 70px;
    span {
      font-size: 70px;
      color: #ED4136;
    }
  }
  span {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    transform: translateY(-11px);
  }
  sup {
    font-size: 18px;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &--element {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 20px;
    &:nth-child(odd) {
      background-color: #ebebeb;
    }
    span {
      font-size: 20px;
      font-weight: 700;
    }

    .smart-check {
      display: flex;
      margin: 10px 0;
      button {
        font-size: 15px;
        border-radius: 30px;
        padding: 10px 20px;
        border: 1px solid #000;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
          background-color: #da9797;
          
        }
        
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }

    input {
      width: 50%;
      margin-top: 20px;
      padding: 10px 20px;
      border-radius: 100px;
    }

    .checkbox {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      input {
        margin: 0 10px 0 0;
      }
    }
    .checkbox.price {
      flex-direction: column;
      .check {
        display: flex;
        align-items: center;
        justify-content: center;
        &:nth-child(1) {
          margin-bottom: 10px;
        }
      }
    }
  }
  .arrows-dots, .video {
    .grid-box {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, auto);
    }
  }

  .grid-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    width: 100%;
    margin: 15px 0;
    .checkbox {
      margin: 0;
      border: 1px solid #000;
      border-radius: 10px;
      transition-property: background transform;
      transition: .5s;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        transform: scale(0.95);
      }
      label {
        padding: 20px 30px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        font-weight: 300;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      input[type="checkbox"] {
        pointer-events: none;
        position: absolute;
        opacity: 0;
      }
      input[type="text"] {
        min-width: 126px;
        display: none;
      }
    }
  }
  
  .active {
    background-color: #51f38f;
    input[type="text"] {
      display: block !important;
    }
    label {
      font-weight: 600 !important;
    }
  }

  .generate-code {
    width: 100%;
    padding: 40px 0;
    background-color: hsl(192, 75%, 85%);
    border: none;
    font-size: 50px;
    transition: .5s;
    cursor: pointer;
    text-align: center;
    color: #000;
    text-decoration: none;
    span {
      transition: .5s;
      letter-spacing: 4px;
      font-weight: 100;
      text-transform: uppercase;
    }
    &:hover {
      background-color: #51f38f;
      span {
        letter-spacing: 0px;
      }
    }
  }

}

.footer {
  overflow: hidden;
  position: relative;
  .popup {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #45a0eb;
    color: #000;
    padding: 20px;
    font-size: 18px;
    position: absolute;
    text-align: center;
    transform: translateY(-105%);
    transition: .5s;
    height: fit-content;
  }
  .popup--active {
    transform: translateY(0);
  }
  .copy-code {
    width: 100%;
    padding: 20px;
    border: none;
    font-weight: 300;
    text-align: center;
    background-color: #f3de82;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
    text-transform: uppercase;
    &:hover {
      background-color: #c640e7;
    }
  }
  .disabled {
    background-color: #8f8f8f;
    color: #757575;
    pointer-events: none;
    cursor: not-allowed;
  }
  &--code {
    padding:  0 20px;
  }
}



// 



  
body {
  font-family: "rubik", sans-serif;
}


.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.b300x600 {
.logo {
  width: 100%;
  height: 60px;
  left: 0;
  top: 0;
  &__image {
    width: 100%
  }
}

.video-container {
  left: 0;
  top: 100px;
  width: 100%;
  height: 100%;
  .video-button {
    width: 100px;
    height: 20px;
    left: 50px;
    top: 150px;
    font-size: 15px;
  }
  .audio {
    width: 40px;
    height: 40px;
  }
}
    

.offers-container {
  width: 100%;
  height: 300px;
  left: 0px;
  bottom: 0px;      

  .offers-wrapper {
    padding: 0 0 !important;
    gap: 0 0 !important;

    .offer {
      .image {
        width: 100%;
        height: 50px;
        left: 0;
        top: 0;
      }
      
      
      .name {
        left: 10px;
        top: 100px;
        font-size: 15px;
        width: 130px;
      }
    
      
      .price-wrapper {
        left: 10px;
        top: 130px;
        font-size: 15px;
        .oldprice {
          font-size: 15px;
          margin: 0 10px 0 0;
        }
      }
    
      
      .button {
        width: 100px;
        height: 35px;
        left: 10px;
        top: 160px;
        font-size: 13px;
      }
    
      
        .custom-property--NAZWA {
          left: 10px;
          top: 140px;
          font-size: 13px;
        }
      
    }
  }
} 


.offer-info {
  width: 100%;
  height: 300px;
  left: 0px;
  bottom: 0px;      
  
    .name {
      left: 10px;
      top: 100px;
      font-size: 15px;
      width: 130px;
    }
    
  
    .price-wrapper {
      left: 10px;
      top: 130px;
      font-size: 15px;
      .oldprice {
        font-size: 15px;
        margin: 0 10px 0 0;
      }
    }
    
  
    .button {
      width: 100px;
      height: 35px;
      left: 10px;
      top: 160px;
      font-size: 13px;
    }
    
  
      .custom-property--inna-nazwa {
        left: 10px;
        top: 140px;
        font-size: 13px;
      }
      
} 


.arrow {
  width: 40px !important;
  height: 40px !important;
  transform: translateY(0) !important;
  top: 400px;
  svg {
    width: 20px !important;
    height: 20px !important;
  }
}

#arrowPrev {
  left: 20px !important;
}
#arrowNext {
  right: 20px !important;
}
    
.dots {
  width: 70px;
  bottom: 10px;
  .dot {
    width: 8px !important;
    height: 8px !important;
  }
}
    
}  
